body{
    background-image: linear-gradient(#012b3b, #044158)
  }
  
  img {
    height:100%;
    width: 100%;
    
    
  }
  
  header{
  
    background: #012a3b7f;
    
    }
    
    
    
    h1 {
    
    text-align: center;
    color: #083f3b;
    text-shadow: 1px 1px 2px #d5e8e9, 0 0 25px #6dc1ce, 0 0 5px #0586be;
    
    }
    
    p {
    
     /* text-align: center;
      color: #125e59;8*/
      text-shadow: 1px 1px 2px #000000, 0 0 25px #000000, 0 0 5px #000000;
    
    }
    
    h2 {
    
    text-align: center;
    /*background: #045d6d;*/
    background-image: linear-gradient(#045d6d, #00ffea, rgb(5, 68, 104));
    color: #00ffea;
    text-shadow: 1px 1px 2px #03393b, 0 0 25px rgb(7, 101, 132), 0 0 5px #00ffea;
    }
    
    #div{
    
      text-align: center;
  
    
    }
    
    
      
    .radio_playlist
    {
      width:100%;
      height:calc(10%);
      max-height: 20vh;
      overflow-x:hidden;
      overflow-y:scroll;
      
    }
    
    .radio_playlist::-webkit-scrollbar-track
    {
      border: 1px solid black;
      background-color: #17d76a;
    }
    .radio_playlist::-webkit-scrollbar
    {
      width: 14px;
      background-color: #643939;
    }
    
    .radio_playlist::-webkit-scrollbar-thumb
    {
      background-color: #05344f;/*#000000*/
    }
    
      
      ol{
        
        /*padding: 0px 30px 0px 50px;*/
        margin:0% 7% 0% 7%;
        font-size:18px;
        /*background: #8fdee8;
        color: #063737;*/
        /*background-image: url(IMG_20220716_111544.jpg);*/
        
      }

      ul {

        font-size:18px; 
        color: #dcc6c6;


      }
    
      li {
    
    
        background: #8fdee847;
        color: #cfe1e1;
        text-shadow: 1px 1px 2px #000000, 0 0 25px rgb(0, 0, 0), 0 0 5px #000000;
        padding: 20px; 
      }

      
      
      footer {
        color:rgb(251, 212, 106);
        background:#034e4b;
        text-align: center;
        background-image: linear-gradient(#045d6d, #00ffea, rgb(5, 68, 104));
        font-size: 18px;
        
      }
      
     #scroll {
        
        overflow-y: scroll;
        
      }
      
      .radio_playlist1

    {

      width:100%;
      height:calc(30%);
      max-height: 40vh;
      overflow-x:hidden;
      overflow-y:scroll;
      
    }
    
    .radio_playlist1::-webkit-scrollbar-track
    {
      border: 1px solid black;
      background-color: #17d76a;
    }
    .radio_playlist1::-webkit-scrollbar
    {
      width: 14px;
      background-color: #643939;
    }
    
    .radio_playlist1::-webkit-scrollbar-thumb
    {
      background-color: #05344f;/*#000000*/
    }

   

   